.idea
idea
.DS_Store
.git
*.egg-info/
.installed.cfg
*.egg

db.sqlite3

venv

.env.dev

__pycache__/
.pytest_cache
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
!*media/default
media/*

log/debug.log

build
doc
home.rst
make.bat
# Makefile

doc-dev
.vscode/*